<!DOCTYPE HTML>
<html lang="ko">
<head>
  	<title>chat client</title>
    <meta charset="utf-8">
    <style>
		input{
			height:30px;
			-webkit-box-sizing:border-box;
			box-sizing:border-box;
			vertical-align:top;
			outline:0;
		}
		#content{
			background-color: #fafafa;
			height: 400px;
			overflow-y:scroll;
			-webkit-overflow-scrolling: touch;
			overflow-scrolling: touch;
		}
	</style>
  	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script> 	
	<script src="/home/hosting_users/mimochat/apps/mimochat_mimochat/socket.io/socket.io.js"></script>

	<script type="text/javascript">
		var getNowTime = function ()
		{			
			var day=new Date(); 
			var y=day.getYear(); 
			if(y<2000)y=y+1900; 
			var mon=day.getMonth(); 
			var date=day.getDate(); 
			var h = day.getHours();
			var m = day.getMinutes();
			var s = day.getSeconds();
			return y.toString().substring(2,4) + '/' + mon + '/' + date +' ' + h + ':' + m + ':' + s;
		}
	
		window.onload = function(){
	
			//var room = prompt( '방 이름을 입력하세요.', '<%= room %>' );   
			var room = '<%= room %>';
			var userId = '<%= id %>';
			var name = '<%= name %>';
			
			var socket = io.connect(); //소켓서버 연결
			socket.emit( 'join', {
				id: userId,
				name: name,
				room: room 
			});
			socket.on( 'message', function(data){
				var output = '<p>[' + data.id +'] ' + data.message + ' (' + data.date + ')</p>';
				$( output ).appendTo('#content');
				$('#content').scrollTop($('#content')[0].scrollHeight);	
			});	
			
			$('#button').click(function(){
				var uid = $('#uid').val();
				var msg = $('#msg').val();
				
				//서버측 'message' 이벤트를 호출한다. 이때 msg 전달
				var prtDate = getNowTime();
				socket.emit('message', {
					id : uid,
					message : msg,
					date : prtDate
				}); //서버측 'message' 이벤트를 호출한다. 이때 msg 전달
				
				var msg = $('#msg').val(''); //메세지 내용 초기화
			});
			
			$('#button2').click(function(){
				window.close();
			});
		};
		
		$(document).on("keydown", "#msg", function(event) {
              
               if( window.netscape )
               {                                       
                    // FF         
                    if(event.which == '13') {
                         $("#button").trigger("click");
                         event.preventDefault();
                    }
               }
               else
               {
                    // IE
                    if(event.keyCode == '13') {
                         $("#button").trigger("click");
                         event.returnValue=false;
                    }
               }                   
          });
         

	
	</script>
</head>
<body>
<h1><%= room %></h1>
<div id="content"></div>
<hr>
<input type="hidden" id="uid" value="<%=name%>" />
<input type="text" id="msg" autofocus />
<input type="button" id="button" value="메세지" />
<input type="button" id="button2" value="퇴장" />

</body>
</html>