<!DOCTYPE HTML>
<html lang="ko">
<head>
  	<title>채팅화면</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <link rel="stylesheet" type="text/css" href="http://mimo.co.kr/mobile/som/css/base.css">
    <link rel="stylesheet" type="text/css" href="http://mimo.co.kr/mobile/css/chat.css">
    <link rel="stylesheet" type="text/css" href="/plugins/fontium/css/fontium.css"/> 
    
    <style>
	</style>
    
  	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script> 	
	<script src="/socket.io/socket.io.js"></script>
    <script src="/script/client.js"></script>    

	<script type="text/javascript">
	
		var socket;
		var protocol = 'join';
		var room, userId, name;
		var latestTime, lstNum; //가장 최근메세지 수신시간, 번호
		var serverCode;
		
		window.onload = function(){
			room = '<%= room %>';
			userId = '<%= id %>';
			name = '<%= name %>';			
			
			serverConnect(); // 최초접속
		};
		
		// 서버 재연결 (끊고)
		function serverReconnect(){
			
			if(socket)
			{
				socket.disconnect();
				serverConnect();
			}			
		}
		
		// 서버 연결
		function serverConnect()
		{
			/*************************************************************				
				서버 접속
			*************************************************************/	
			
			serverCode = '';
			
			socket = io.connect(); //소켓서버 연결				
						
			socket.emit( protocol, { // join or rejoin 
				id: userId,				
				name: name,
				room: room,				
				num: lstNum // rejoin
			});			
			
			
			
			/*************************************************************				
				일반 메세지 수신				
			*************************************************************/						
			
			socket.on( 'message', function(data){  // 일반 메세지 수신 
				
				latestTime = data.date; // 최근 수신된 시간 
				
				if(data.num){
					lstNum = data.num; // 최근 수신된 메세지 
				}
				
				if(data.code == 'closed') // 서버로부터 연결종료 메세지 수신 (소켓끊기)
				{				
					serverCode = data.code; 
					socket.disconnect(); 
				}
				
				// 참여멤버 리스트 
				memlist = data.memlist; 				
				if(memlist)
				{					
					$("#memlist p").text( memlist );
				}
				
				// 메세지를 출력하지 않는 이벤트 
				if( data.code && (data.code == 'discon' || data.code == 'rejoin' || data.code == 'reCon') )
				{
					return; 
				}
				
				// 메세지 출력 
				if( data.name == 'MiMO' ) // 서버메세지 
				{		
					var output = '<li><p><span class="name">[' + data.name +']</span> ' + data.message + ' <small>(' + data.date + ')</small></p></li>';
					$( output ).appendTo('#content');
					$('#content').scrollTop($('#content')[0].scrollHeight);	
				}
				else
				{
					/* 대화내용 출력 
					===================================*/
					
					if( data.name == '<%= name %>' ) // 나의 멘트
					{
						var output = '<li align="right"><div class="time">' + data.date + '</div>&nbsp;<p class="talk me"><span class="name">[' + data.name +']</span> ' + nl2br(data.message, false) + '</p></li>';
						$( output ).appendTo('#content');
						$('#content').scrollTop($('#content')[0].scrollHeight);	
					}
					else // 상대멘트
					{
						var output = '<li><p class="talk"><span class="name">' + data.name +'</span> ' +  nl2br(data.message, false) + '</p>&nbsp;<div class="time">' + data.date + '</div>&nbsp;</li>';
						$( output ).appendTo('#content');
						$('#content').scrollTop($('#content')[0].scrollHeight);	
					}
				}				
				
			});	
			
			
			
			
			/*************************************************************				
				이모티콘 메세지 수신				
			*************************************************************/			
			
			socket.on( 'emot', function(data){ // 이모티콘 처리 함수 				
							
				latestTime = data.date; // 최근 수신된 시간 
				
				if(data.num){
					lstNum = data.num; // 최근 수신된 메세지 
				}
				
				// 참여멤버 리스트 
				memlist = data.memlist; 				
				if(memlist)
				{					
					$("#memlist p").text( memlist );
				}				
				
				// 메세지를 출력하지 않는 이벤트 
				if( data.code && (data.code == 'discon' || data.code == 'rejoin' || data.code == 'reCon') )
				{
					return; 
				}
				
				// 메세지 출력 								
				if( data.name == 'MiMO' ) // 서버메세지 
				{		
					var output = '<li><p><span class="name">[' + data.name +']</span> ' + data.message + ' <small>(' + data.date + ')</small></p></li>';
					$( output ).appendTo('#content');
					$('#content').scrollTop($('#content')[0].scrollHeight);	
				}
				else
				{
					/* 대화내용 출력 
					===================================*/
					
					if( data.name == '<%= name %>' ) // 나의 멘트
					{
						var output = '<li align="right"><div class="time">' + data.date + '</div>&nbsp;<img src=' + data.message + ' width="96px;" /></li>';
						$( output ).appendTo('#content');
						$('#content').scrollTop($('#content')[0].scrollHeight);	
					}
					else // 상대멘트
					{
						var output = '<li><p><span class="name">' + data.name +'</span><img src=' + data.message + ' width="96px;" />&nbsp;<span class="time">' + data.date + '</span></p></li>';
						$( output ).appendTo('#content');
						$('#content').scrollTop($('#content')[0].scrollHeight);	
					}
				}		
			});
			
			
			
			
			socket.on('connect_error', function(data){				
				if ( data == 'timeout' )
				{	
					if(confirm('서버와의 연결이 끊어졌습니다. 다시 연결하시겠습니까?') == true)
					{
						protocol = 'rejoin';
						serverReconnect();									
					}
					else
					{
					}					
				}
			});
			
			// 서버가 끊어짐			
			socket.on( 'disconnect', function(data){  				
			
				if( serverCode == 'closed' ) // 서버가 끊었는지 확인한다.
				{
					if(confirm('서버와의 연결이 끊어졌습니다. 다시 연결하시겠습니까?') == true)
					{
						protocol = 'join';
						serverReconnect();									
					}
					else
					{						
						$("#msg").prop("disabled", true).css("backgroundColor","#fafafa");
					}	
				}
				else
				{
					setTimeout(function()
					{					
						protocol = 'reCon';
						serverReconnect();					
					}, 0);
				}
			});
			
		}
		
		
		function heightAlign()
		{
			winH = $(window).height();			
			conH = winH - 98 - 70;	
			$("#content").height(conH);
		}
		
		$(function(){
			
			// UI
			heightAlign();
			
			autosize($('textarea'));
			
			$(window).unload( function() {    
				if(socket) socket.disconnect(); 						  
			}); 
			
			$(window).on( "beforeunload", function() { // IE에서 오류
				if(socket) socket.disconnect(); 							
			});
			
						
			/* 메세지 전송
			====================================*/
			$('#button').click(function(){
				
				if( !$("#msg").val() || $('#msg').val().replace(/\s/g,"").length == 0 )
				{
					//console.log('공백');
					$("#msg").val('')
					return;
				}
				
				var uid = $('#uid').val();
				var name = $('#name').val();
				var msg = $('#msg').val();
				
				//서버측 'message' 이벤트를 호출한다. 이때 msg 전달
				var prtDate = getNowTime();
				socket.emit('message', {
					id : uid,
					name : name,
					message : msg,
					date : prtDate,
					code : 'message'
				}); //서버측 'message' 이벤트를 호출한다. 이때 msg 전달
				
				var msg = $('#msg').val('').focus(); //메세지 내용 초기화
				
				autosize.update($('textarea'));
			});
			
			
			
			$("#emot").click(function(e) { // 이모티콘 테이블 열기
				
				e.stopPropagation();
				
				if( $("#emot-wrap").css("display") == "none" )
				{
					$("#emot-wrap").slideDown();
				}
				else
				{
					$("#emot-wrap").slideUp();
				}				
			});
			
			// 이모티콘 창 Dismiss
			$(document).on( "click" , ":not(#emot)", function(e) {
				$("#emot-wrap").slideUp();
			});

			
			$(".emotem").click(function(e) {            					
				var emoURL = $(this).prop('src'); //이모티콘 주소 
				//alert(emoURL);				
				sendEmoticon(emoURL);
            });
			
			
			// 퇴장 
			$('#button2, #back-btn').click(function(){	
				if(socket) socket.disconnect(); 			
				window.history.go(-1);
			});
			 
			$(window).resize(function(e) {
                heightAlign();
            });
			
		});
         
	</script>
</head>
<body>
<div class="wrapper">	

	<div class="header">
    	<div id="back-btn" class="back-icon"></div>
    	<h1><%= room %></h1>        
    </div>
    
    <section id="memlist"><p></p></section>
    
    <div style="height:98px;"></div>

	<ul id="content"></ul>
    
    <footer style="height:50px;"></footer>

	<div id="inp-bar">
        <input type="hidden" id="uid" value="<%=id%>" />
        <input type="hidden" id="name" value="<%=name%>" />

        <section id="send-wrap">
        	<!-- 전송창 -->
            <table id="send-box" width="100%" border="0" cellpadding="0" cellspacing="0">
                <tr>                
                    <td><textarea id="msg" autofocus style="width:100%; font-size: 17px; max-height:60px; *border:1px solid #000; margin:0;" rows="1"></textarea></td>
                    <td width="35" align="center"><i id="emot" class="fonti um-smile-o um-2x" style="color:#E8684B"></i></td>
                    <td width="35"><input type="button" id="button" value="보내기" class="button-sm" /></td>
                </tr>
            </table>        
        </section>
        
        <section id="emot-wrap" style="display:none;">
            <!-- 이모티콘 테이블 -->
            <table id="emotbl1" style="width:100%;" cellpadding="0" cellspacing="0">
                <tr>
                    <td><img src="http://mopenmarket.speedgabia.com/emot/Angel_96px.png" border="0" class="emotem"><small>천사</small></td>
                    <td><img src="http://mopenmarket.speedgabia.com/emot/Crazy_96px.png" border="0" class="emotem"><small>미쳐요</small></td>
                    <td><img src="http://mopenmarket.speedgabia.com/emot/Kiss_96px.png" border="0" class="emotem"><small>키스</small></td>
                    <td><img src="http://mopenmarket.speedgabia.com/emot/LOL_96px_3.png" border="0" class="emotem"><small>기뻐요</small></td>                    
                    <td><img src="http://mopenmarket.speedgabia.com/emot/Love_96px.png" border="0" class="emotem"><small>사랑</small></td>                
                </tr>    
                <tr>	                
                    <td><img src="http://mopenmarket.speedgabia.com/emot/Neutral_96px.png" border="0" class="emotem"><small>무반응</small></td>
                    <td><img src="http://mopenmarket.speedgabia.com/emot/Question_96px.png" border="0" class="emotem"><small>궁금</small></td>
                    <td><img src="http://mopenmarket.speedgabia.com/emot/Sad_96px.png" border="0" class="emotem"><small>슬퍼요</small></td>
                    <td><img src="http://mopenmarket.speedgabia.com/emot/Surprised_96px.png" border="0" class="emotem"><small>놀람</small></td>
                </tr>
                
            </table>        
        </section>        
    </div>
    
</div>

<script src="http://mimo.co.kr/plugins/autosize.min.js"></script>
</body>
</html>